 
 @media screen and (min-width: 768px) {
    .Education-part1-right-mobile {
        display: none;
    }
    .Education-part2-right-mobile {
        display: none;
    }
 }
 
 
#Education {
    display: flex;
    /* height: 900px; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 80px 0px;
}

.Education-a-1 {
    font-size: 30px;
    color: #2E0249;
    font-weight: bold;
    width: 15em;
    
}

.Education-a-2 {
    font-size: 23px;
    color: #570A57;
    font-weight: bold;
    width: max-content;
    
}


#Education h1 {
    font-size: 30px;
}

#Education h2 {
    font-size: 25px;
}

#Education h3 {
    font-size: 20px;
    
}

.Education-head {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
    width: 70%;
}

.Education-head a{
    background-color: rgba(187, 0, 171, 0.15);
}


.Education-a {
    font-size: 30px;
}

.Education-part1 {
    display: flex;
    justify-content: center;
    width: 70%;
    align-items: flex-start;
}
 
    


.Education-part1-left {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 2em;
    margin-left: 100px;
    
}

.Education-part1-right {
    width: auto;
    height: auto;
    display: flex;
    margin-right: 100px;
    margin-left: 150px;
    margin-top: 55px;
   
}


.Education-part2 {
    display: flex;
    justify-content: center;
    width: 70%;
    align-items: flex-start;

    
}

.Education-part2-left {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 2em;
    margin-left: 100px;
    
}

.Education-part2-right {
    width: auto;
    height: auto;
    display: flex;
    margin-right: 100px;
    margin-left: 150px;
    margin-top: 55px;
   
}


.Education-detail {
    margin-top: 20px;
}