#Hello {
    
}

.Hello-box {
    display: flex;
    height: 400px;
    width: auto;
    justify-content: space-around;
    align-items: center;
}

.Hello-box img {
    display: flex;
    height: 100%;
   
}

.Hello-text a {
    font-size: 50px;
    display: flex;
    

}