@import url("https://fonts.googleapis.com/css2?family=Alice&family=Space+Mono&display=swap");
#root {
  max-width: 1280px;
  margin: auto;
  background-color: beige;
  font-family: "Alice", serif;


  /* https://css.glass/ */
  background: rgba(255, 255, 255, 0.774);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px); */
  border: 1px solid rgba(255, 169, 169, 0.42);  

  /* padding: 2rem; */
  /* text-align: center; */
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
