#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.075);
}

.Contact-banner {
  margin: 250px;
}

.Contact-head {
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

.Contact-city {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.Tel {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.Contact-logo {
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 25px;
}

.Github {
  display: flex;
  justify-content: center;
}

.Github img {
  width: 33px;
  height: 33px;
  margin-right: 0.2em;

}

.LinkedIn {
  display: flex;
  justify-content: center;
}

.LinkedIn img {
  width: 40px;
  height: 40px;
}
