#Skill {
  height: 600px;
  margin: 10em 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.075);

  
}


.test {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.icon-banner-text {
  font-weight: bold;
  font-size: 55px;
  /* margin-bottom: 0.5em; */
  /* margin-left: 1em; */
  /* align-self: center; */
}

.icon-banner-text a {
  background-color: rgba(255, 0, 0, 0.15);
}

.icon-banner {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.icon-banner-icon {
  display: flex;
  align-items: center;
  column-gap: 2em;
  margin: auto;
}

/* .icon-banner .icon-banner-icon img {
  width: 120px;
  height: 120px;
} */

/* .icon-banner-icon img:hover {
  transform: scale(1.2);
  transition-duration: 100ms;
} */


/* body skill slide */

:root {
  --color-text: navy;
  /* --color-bg: papayawhip; */
  /* --color-bg-accent: #ecdcc0; */
  --size: clamp(4rem, 1rem + 20vmin, 10rem);
  --gap: calc(var(--size) / 14);
  --duration: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ffe1b1;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

#body-skill {
  margin-top: 3em;
}

#body-skill img:hover {
  transform: scale(1.3);
  transition-duration: 100ms;
}

.marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: var(--gap);
  -webkit-mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  -webkit-animation: scroll-x var(--duration) linear infinite;
  animation: scroll-x var(--duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}


.marquee--reverse .marquee__group {
  animation-direction: reverse;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

@-webkit-keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

/* Element styles */
.marquee img {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  background: var(--color-bg-accent);
  aspect-ratio: 1/1;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  max-width: 100vw;
}

@-webkit-keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
