@media screen and (max-width: 768px) { 

    #Experience {
        max-width: 700px;
    }


    #Experience h1,h2,h4 {
        text-align: center;
    }

    #Experience li {
        font-size: larger;
    }

    
}