#AboutMe {
    display: flex;
    height: 800px;
    
    
}

.AboutMe-box {
    
    display: flex;
    height: auto ;
    width: auto;
    justify-content: center;
    align-items: center;
    
}

.AboutMe-text {
    width: 90%;
    
}

.AboutMe-text h2 {
    font-size: 35px;
    color: red;
}

.AboutMe-text h4 {
    font-size: 25px;
}

/* .AboutMe-text-blank {
    width: 50%;
} */