#AboutMe {
    display: flex;
    height: 800px;
    flex-direction: column;
    
}

.AboutMe-box {
    
    display: flex;
    height: 70% ;
    width: auto;
    margin: 100px 100px;

    
}

.AboutMe-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutMe-text-head {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    width: 70%;

    
    
}

.AboutMe-text h4 {
    font-size: 25px;
}

/* .AboutMe-text-blank {
    width: 50%;
} */